.feature{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;   
     padding:2rem 8rem;
}

.f-left{
      flex:1 1 20rem;
}
.f-left>img{
    width: 100%;
    margin-top:5rem;
}
.f-right{
    flex:1 1 25rem;
    display: flex;
    flex-direction: column;
}
.offer{
    /* margin-top:-8rem ; */
}
.f-right> span{
    margin-top:1rem;
    font-size: 3rem;
    font-weight: 500;
}
.f-right>p:nth-of-type(2){ 
     font-size:1.3rem;
     color: rgb(101, 99, 99);
}
.partner{
    display: flex;
    gap: 2rem;
    margin-top:1rem;
}
.partner>img{
      width: 4rem;
      height:4rem;
}


/* ressponssive feature  */

@media screen and (max-width:1024px) {
    .feature{
          padding:2rem 2rem;
    }            
    .f-right> span{
        font-size: 2.5rem;
    }   
}
@media screen  and (max-width:520px){
    .f-right> span{
        font-size: 2rem;
    }   
}

@media screen  and (max-width:520px){
    .feature{
        padding:2rem 1rem;
     }            

    .f-right> span{
        font-size: 1.5rem;
    }   
}