.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 4rem;     
}
/* left section feature */
.f-left{
    flex:1 1 40rem;
    padding-top: 5rem;
  }
.f-left>img{
   width: 80%;
 
}


/* right section feature */
.f-right{
    flex:1 1 40rem;
    display: flex;
   flex-direction: column;
   gap:2rem;
}
.f-right >span{

    font-size: 2.5rem;
    font-weight: bold;
}
.top{
    margin-top:-1rem ;
}

.f-right>p:nth-of-type(2){
    font-size: 1.2rem;
    margin-top:0rem;
}

.partner{
    display: flex;
    gap: 2rem;
}


/* mobile responssive feature */

/* 
@media screen and (max-width:1024px) {
    .feature{
        gap: 2rem;
        padding:2rem 2rem;
    }           
    .f-right >span{
        font-size: 2rem;
        font-weight:500;
    }   
}
@media screen and (max-width:800px) {
    .feature{
        gap: 2rem;
        padding:2rem 2rem;
    }
    .f-left> img{
        margin-top:4rem;
     }
} */