.service{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin-top:4rem;
     width: 100%;
     height: auto;
}
.service>p:nth-of-type(2){
    /* width: 50rem; */
    font-size: 1rem;
    margin-top:-0.5rem;
    font-weight:500;
    color: gray;
    text-align: center;
       
}

.box_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding:2rem 4rem;
}
.box{
    flex: 1 1 15rem;
    border: 2px solid rgb(197, 196, 196);
    align-items: center;
    text-align: center;
    padding:2rem ;
    background: var(--white);
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.5s linear;
    border-radius: 20px;
}
.box:hover{
    background: var(--pink);
}
.box>img{
    width: 5rem;
}

.box>h3{
    font-size: 1.4rem;
    color: var(--pink);
}
.box:hover>h3{
    color: var(--white);
}
.box>p{
    margin-top:-0.5rem;
    /* text-align: center; */
}

/* Mobile Ressponssive  */
 
@media screen and (max-width:680px) {
               .heading{
                font-size:2rem ;
               }          
}
@media screen and (max-width:540px) {
    .heading{
        font-size:1.5rem ;
        font-weight: 500;
    }          
}


@media screen and (max-width:420px) {
         .box_main{
            padding:2rem 2rem;
         }
         .heading{
            font-size:1.2rem ;
        }    
        .service>p:nth-of-type(2){
          font-size:0.8rem;
        }        
}
@media screen and (max-width:310px) {
    .box_main{
        padding:2rem 1rem;
     }
    .box{
        padding:1rem 1rem ;
    }

    .heading{
        font-size:1rem ;
    }    
}

